:root {
    --background: #fefadc;
    --text: #20160c;
    --navbar: #ffd695;
    --navbar-button: #faedca;
    --navbar-button-hover: #fef8e7;
    --navbar-button-open: #ffedcf;
    --navbar-button-focus: #ffde84;
    --navbar-button-selected: #ffd9bc;
    --separator: #e7866a;
    --chip: #ffd695;
    --print: #5b9129;
    --print-hover: #4d7825;
    --print-focus: #2d5803;
    --checked: #bda884;
    --sidebar-toggle: #cb344d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
    scrollbar-color: var(--separator) var(--background);
}

@font-face {
    font-family: Garamond;
    src: url(garamond.ttf) format('ttf');
}

@font-face {
    font-family: Material;
    src: url(material.woff2) format('woff2');
    font-display: block;
}

.material {
    font-family: Material;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* HTML: <div class="wavy-line"></div> */
.wavy-line {
  --s: 4px; /* size of the wave */
  --b: 2px; /* thickness of the line */
  --m: 1; /* curvature of the wave [0 2] */
  margin-bottom: 20px;
  margin-top: 25px;
  
  background: var(--separator);
  --R: calc(var(--s)*sqrt(var(--m)*var(--m) + 1) + var(--b)/2);
  height: calc(2*var(--R));
  width: 100%;
  --_g: #0000 calc(99% - var(--b)), #000 calc(101% - var(--b)) 99%, #0000 101%;
  mask:
    radial-gradient(var(--R) at left 50% bottom calc(-1*var(--m)*var(--s)), var(--_g)) 
     calc(50% - 2*var(--s)) calc(50% - var(--s)/2 - var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x,
    radial-gradient(var(--R) at left 50% top calc(-1*var(--m)*var(--s)),var(--_g)) 
     50% calc(50% + var(--s)/2 + var(--b)/2)/calc(4*var(--s)) calc(var(--s) + var(--b)) repeat-x;
}

#spine {
    width: 40px;
    height: 100%;
    object-fit: cover;
}



/* main */
.mainbody {
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

body {
    padding: 2rem;
    background-color: var(--background);
}

iframe, .maincontent {
    width: 100%;
    height: 100vh;
}

h1, h2 {
    margin-bottom: 20px;
}



/* navigation */
.sidebar {
    position: relative;
    display: flex;
    flex-direction: row;
    transition: 300ms;
    z-index: 2;
}

#sidebar_toggle {
    display: none;
    position: absolute;
    top: 10px;
    left: 100%;
    height: 55px;
    width: 60px;
    background-color: var(--navbar);
    border-radius: 0 20px 20px 0;
    padding: 5px;
}

#sidebar_toggle > div > input, .overlay > input {
    display: none;
}

#sidebar_toggle > div > h2 {
    color: var(--text);
    text-align: center;
    margin: 0;
    transition: 200ms;
}

#sidebar_toggle > div {
    background-color: var(--navbar-button);
    border-radius: 15px;
    width: 100%;
    height: 100%;
    transition: 200ms;
    align-content: center;
}

#sidebar_toggle > div:hover {
    background-color: var(--navbar-button-hover);
}

#sidebar_toggle:has(> div > input:active) > div:hover {
    background-color: var(--navbar-button-focus);
    transform: scale(98%);
}

nav {
    position: relative;
    padding: 2rem 1rem 1rem 1rem;
    background-color: var(--navbar);
    height: 100vh;
    min-width: 250px;
    width: 250px;
    justify-items: center;
    overflow-y: scroll;
    scrollbar-color: var(--background) var(--navbar);
}

nav > a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: Garamond;
    font-size: x-large;
    max-width: 200px;
}

nav > * {
    width: 100%;
}

nav > div:not(:last-child) {
    margin-bottom: 20px;
}

nav > div > *:not(:last-child) {
    margin-bottom: 5px;
}

.overlay {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0000;
    transition: 300ms;
}

@media (max-width: 900px) {
    .sidebar {
        transform: translateX(-100%);
        position: fixed;
    }
    
    .sidebar:has(#sidebar_toggle > div > input:checked) {
        transform: translateX(0);
    }

    #sidebar_toggle > div:has(> input:checked) > h2 {
        transform: rotate(180deg);
    }

    .mainbody:has(#sidebar_toggle > div > input:checked) > .overlay {
        background-color: #0003;
        pointer-events: all;
    }

    #sidebar_toggle {
        display: block;
    }

    #spine {
        width: 30px;
    }

    body:not(.mainbody) {
        padding-top: 75px;
    }
}



/* dropdown */
.dropdown {
    background-color: var(--navbar-button);
    border-radius: 7px;
    display: grid;
    grid-template-rows: minmax(2.75rem, max-content) 0fr;
    transition: 200ms;
}

.dropdown > div > *:first-child {
    margin-top: 5px;
    border-radius: 15px 15px 5px 5px;
}

.dropdown > div > *:last-child {
    border-radius: 5px 5px 15px 15px;
}

.dropdown > div > *:only-child {
    border-radius: 15px;
}

.dropdown > label > input {
    display: none;
}

.dropdown > label {
    padding: 10px 15px;
    border-radius: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 200ms;
}

.dropdown > label:hover {
    background-color: var(--navbar-button-hover);
}

.dropdown:has(input:active) > label:hover {
    background-color: var(--navbar-button-focus);
    transform: scale(98%);
}

.dropdown > label > span {
    transition: 200ms;
    margin-left: 5px;
}

.dropdown > div {
    overflow: hidden;
    padding: 0 5px;
}

.dropdown > div > * {
    margin-bottom: 5px;
}

.dropdown > div > button, nav > div > button, .search_result {
    background-color: var(--navbar-button);
    border: none;
    text-align: left;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: 200ms;
}

.dropdown > div > button:hover, nav > div > button:hover, .search_result:hover {
    background-color: var(--navbar-button-hover);
}

.dropdown > div > button:focus:hover:active, nav > div > button:focus:hover:active, .search_result:focus:hover:active {
    background-color: var(--navbar-button-focus);
    transform: scale(98%);
}

.dropdown > div > .selected {
    background-color: var(--navbar-button-selected);
    border-radius: 15px;
}

.dropdown:has(> label > input:checked) {
    grid-template-rows: minmax(2.75rem, max-content) 1fr;
    border-radius: 20px;
}

.dropdown:has(> label > input:checked) > label > span {
    transform: rotate(90deg);
}

nav > div > *:first-child {
    border-radius: 20px 20px 7px 7px;
}

nav > div > *:last-child {
    border-radius: 7px 7px 20px 20px;
}

nav > div > *:only-child {
    border-radius: 20px;
}



/* recipe header */
.recipe-header > div {
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.recipe-header > div > div:not(:last-child) {
    margin-right: 10px;
}

.chip {
    background-color: transparent;
    border-color: var(--chip);
    border: 1.5px solid var(--chip);
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.chip > span {
    margin-right: 5px;
}

.print {
    border: none;
    font-size: medium;
    background-color: var(--print);
    transition: 200ms;
    cursor: pointer;
}

.print > * {
    color: white;
}

.print:hover {
    background-color: var(--print-hover);
}

.print:focus:hover:active {
    background-color: var(--print-focus);
    transform: scale(98%);
}



/* ingredients */
#ingredients, #ingredients > div {
    display: flex;
    flex-direction: column;
}

#ingredients > div > label {
    width: fit-content;
}

#ingredients > div > label:not(:last-child) {
    margin-bottom: 10px;
}

#ingredients > div > label > input {
    margin-right: 10px;
    accent-color: var(--separator);
}

#ingredients > div > label > input:checked + span {
    color: var(--checked);
    text-decoration: line-through;
}

#ingredients > .section:not(:last-child) {
    margin-bottom: 20px;
}

#ingredients > * > h3 {
    margin-bottom: 10px;
}

#ingredients > #special {
    margin-top: 15px;
}



/* steps */
#steps > div > h2 {
    margin: 0;
    flex: 0 0 50px;
}

#steps > div {
    display: flex;
    align-items: center;
}

#steps > div:not(:last-child) {
    margin-bottom: 20px;
}



/* notes */
#notes > p:not(:last-child) {
    margin-bottom: 5px;
}



/* search */
search {
    display: grid;
    grid-template-rows: minmax(2.75rem, max-content) 0fr;
    transition: 200ms;
    background-color: var(--navbar-button);
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
}

search:has(#searchbox:focus), search:has(#results:hover) {
    grid-template-rows: minmax(2.75rem, max-content) 1fr;
}

#searchbox::placeholder {
    color: var(--checked);
}

#searchbox {
    width: 100%;
    padding: 10px 15px;
    background-color: var(--navbar-button);
    border: 5px solid var(--navbar-button);
    border-radius: 20px;
    height: 2.75rem;
    transition: 200ms;
}

#searchbox:hover:not(:focus, :active) {
    background-color: var(--navbar-button-hover);
}

#searchbox:focus {
    outline: none;
    background-color: var(--navbar-button-hover);
}

#results {
    overflow: hidden;
    padding: 0 5px;
}

#results > button {
    margin-bottom: 5px;
}

#results > button > b {
    font-weight: 800;
}

#results > button:first-child {
    margin-top: 5px;
    border-radius: 15px 15px 5px 5px;
}

#results > button:last-child {
    border-radius: 5px 5px 15px 15px;
}

#results > button:only-child {
    border-radius: 15px;
}

#results > p {
    margin-bottom: 10px;
    color: var(--checked);
    font-size: small;
}